<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large"></ion-title>
      </ion-toolbar>
    </ion-header>
    
    
  <!-- INICIO DEL CARD -->
    <ion-card style="height: max-content; max-width: auto;">

      <!-- TEXTO CABECILLA -->    
    <ion-col>
        <ion-row class="ion-justify-content-center">
          <h2>
            <strong>
              Te LLevo Duoc
            </strong>
          </h2>
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <ion-label>
            Ir a clases nunca fue tan fácil!
          </ion-label>
        </ion-row>
      </ion-col>
  
  <!-- INPUT USUARIO -->
      <ion-col>
        <ion-row class="ion-justify-content-center">
          <div class="container">
            <ion-list>
              <ion-item>
                <ion-input labelPlacement="stacked" [clearOnEdit]="true" value="" [(ngModel)]="user" style="height: auto; width: 40vh;">
                  <div slot="label">Usuario <ion-text color="dark"></ion-text></div>
                </ion-input>
              </ion-item>
            </ion-list>
          </div>
        </ion-row>
      </ion-col>
  
  <!-- INPUT PASSWORD -->
      <ion-col>
        <ion-row class="ion-justify-content-center">
          <div class="container">
            <ion-list>
              <ion-item>
                <ion-input labelPlacement="stacked" [clearOnEdit]="true" type="password" value="" [(ngModel)]="pass" style="height: auto; width: 40vh;">
                  <div slot="label">Password <ion-text color="dark"></ion-text></div>
                </ion-input>
              </ion-item>
            </ion-list>
          </div>
        </ion-row>
      </ion-col>
  
  <!-- BOTÓN INGRESAR -->    
      <ion-col>
        <ion-row class="ion-justify-content-center">
          <div class="container">
            <ion-toolbar>
                <ion-button fill="solid" (click)="validarAlumno()" style="height: 10vh; width: 30vh;" >
                  INGRESAR
                </ion-button>
            </ion-toolbar>
          </div>
        </ion-row>
      </ion-col>
  
        <!-- BOTÓN INGRESAR -->    
        <ion-col>
            <ion-row class="ion-justify-content-center">
              <div class="container">
                <ion-toolbar>
                    <ion-button fill="solid"  style="height: 10vh; width: 30vh;" [routerLink]="['/registro']" >
                      Recuperar Contraseña
                    </ion-button>
                </ion-toolbar>
              </div>
            </ion-row>
          </ion-col>
  
  
  
  <!-- TERMINO DEL CARD -->
    </ion-card>
  
  <!-- FIN DEL CONTENIDO -->
  </ion-content>