.h1-animated {
    font-size: 36px; /* Tamaño inicial del h1 */
    animation: slideAndColorChange 2s infinite alternate; /* Nombre de la animación y duración */
  }
  
  @keyframes slideAndColorChange {
    0% {
      transform: translateX(-100%);
      color: red;
    }
    50% {
      transform: translateX(0);
      color: blue;
    }
    100% {
      transform: translateX(0);
      color: green;
    }
 
  }